<div id="home">
  <div class="wrapper">
    <div class="columns">
      <div class="is-3 column is-narrow">
        <div class="is-mobile">
          <div class="temp-ui has-text-centered">
              <div ng-include="'views/profil.html'">

              </div>
          </div>
        
        </div>
      </div>
      <div class="is-6 column is-narrow">
        <div class="temp-ui level has-text-centered">
          <div class="level-item">
            5c
          </div>
        </div>
        <div class="columns is-mobile">
          <div class="column is-6">
            <div class="temp-ui level has-text-centered">
              <div class="level-item">
                5a
              </div>
            </div>
          </div>
          <div class="column is-6">
            <div class="temp-ui level has-text-centered">
              <div class="level-item">
                5b
              </div>
            </div>
          </div>
        </div>
        <div class="temp-ui level has-text-centered">
          <div class="level-item">
            6
          </div>
        </div>
      </div>
      <div class="is-3 column is-narrow">
        <div class="temp-ui level has-text-centered">
          <div class="level-item">
            4
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
